body {
  margin: 0;
  font-family: 'Roboto', sans-serif, 'Helvetica Neue', Helvetica, Arial;
  font-size: 18px;
}

.App {
  display: flex;
  margin: 15px auto;
}

.App-Header {
  display: flex;
  flex-direction: row;
  justify-content: center;
}